.circles{
    /* background: linear-gradient(0deg, rgba(1, 1, 20, 0.938) 30%, rgba(1,1,20,1) 70%); */
    background: #F2DFF2;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: fixed;
    list-style: none;
    animation: animate 100s linear infinite;
}

.circles li:nth-child(1){
    left: 10%;
    width: 800px;
    height: 800px;
    background: rgba(13, 34, 44, 0.836);
    border-radius: 19% 81% 16% 84% / 58% 90% 10% 42% ;
}


.circles li:nth-child(2){
    top:20%;
    left: 60%;
    width: 400px;
    height: 400px;
    background: rgba(72, 81, 105, 0.849) ;
    
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
       
    }

    100%{
        transform: translateY(0px) rotate(720deg);

    }

}