.contacto{
    background: rgb(163 186 157);
    flex-direction: column;
    align-items: center;
}

.contacto__form{
    display: flex;
    flex-direction: column;
}



footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    background: linear-gradient(var(--color-light-blue),var(--color-pink));

}