.formacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/formacion-background.png) no-repeat center / cover;
    border-top: 10px solid #f1f1f1;
    padding-top: 6rem;
}

.formacion__main, .formacion__courses{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 78rem;
    height: 14rem;
    flex-wrap: nowrap;
}

.formacion__card{
    background: #f1f1f1e0;
    display: flex;
    width: 35%;
    height: 70%;
    margin: 3rem .7rem 5rem;
    transition: all 0.6s;
    box-shadow: 4px 5px 12px -10px;
}
.formacion__card:hover{
    box-shadow: 0px 2px 20px -6px #1a1a1a;
    transform: translateY(-5px);
}



.formacion__card__logo{
    width: 40%;
    height: 100%;
}

.formacion__card__text{
    height: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    
}

.formacion__card__time{
    color: #9d9d9d;
    font-size: .8rem;

}

.formacion__card__title{
    color: rgb(18 18 18);
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: .3rem;
}

.formacion__card__description{
    color: var(--color-black-font);
    margin-top: .3rem;
    font-size: .9rem;
    font-weight: 300;
}

.formacion__btn-certificado{
    width: 100%;
    text-align: end;
    border-bottom: 0.1px solid;
    color: rgb(0 0 0);
    margin-top: .4rem;
    font-size: .83rem;
    font-weight: 500;
    transition: all .8s;
}
.formacion__btn-certificado:hover{
    cursor: pointer;
    background-color: rgba(24, 125, 122, 0.466);
}

.arrow-up-right{
    width: 8px;
    margin-left: 0.2rem;
}