.habilidades{
    display: flex;
    background: url(../img/wave.svg) rgb(24 125 121 / 37%) no-repeat;
}


.habilidades__soft-container, .habilidades__hard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 80%;
    padding: 4rem 4rem;
}
.habilidades__soft-container{
    padding-left:9rem ;
}
.habilidades__hard-container{
    padding-right:9rem ;
}
  
.habilidades__item-hard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habilidades__item-soft, .habilidades__item-hard{
    background: #f1f1f1;
    box-shadow: 4px 5px 12px -10px;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}



