.inicio{
  width: 100%;
  height: 77vh;
  display: flex;
  background: linear-gradient(var(--color-light-blue),var(--color-pink));
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inicio__container-main{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
}

@keyframes showTopText {
    0% {
      transform: translate3d(0, 100%, 0);
    }
    40%,
    60% {
      transform: translate3d(0, 50%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes showBottomText {
    0% {
      transform: translate3d(0, -100%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  .inicio__animated-title {
    color: #222;
    height: 90vmin;
    position: relative;
    left: 26%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 85vmin;
  }
  .inicio__animated-title > div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  .inicio__animated-title > div div {
    font-size: 12vmin;
    font-weight: 700;
    padding: 2vmin 0;
    position: absolute;
  }
  .inicio__animated-title > div div span {
    display: block;
  }
  .inicio__animated-title > div.text-top {
    border-bottom:3px solid black;
    top: 0;
  }
  .inicio__animated-title > div.text-top div {
    animation: showTopText 1.7s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
  }

  .inicio__animated-title > div.text-top div span:first-child {
    color: var(--color-white-font);
  }
 
  .inicio__animated-title > div.text-bottom {
    bottom: 0;
  }
  .inicio__animated-title > div.text-bottom div {
    font-size: 3rem;
    animation: showBottomText 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }

  .inicio__container-text{
      top: 61%;
      animation: appear 4s;
      padding-top: 1rem;
      
  }
  @keyframes appear{
      0%{
          opacity: 0;
      }
      70%{
          opacity: 0;
      }
      100%{
          opacity: 100%;
      }
  }
      
    .inicio__text{
        font-size: 1.2rem;
        font-weight: 300;
        color:#222;
    }

    


.inicio__container-photo{
    width: 40vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* animation: slide-bot 8s; */
}

/* }@keyframes slide-bot{
    0%{
        margin-top: 100%;
        opacity: 0;
    }
    60%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    } */

    .inicio__photo{
        width: 40%;
        border-radius: 50%;
        box-shadow: #0000009e 6px 7px 17px -2px;
        animation: move-top 1.3s infinite alternate;
    }@keyframes move-top{
        from{
            transform: translateY(7px);
        }
    }.inicio__container-more-info{
        display: flex;
        margin-top: 1rem;
        } 
    .inicio__more-info{
        font-size: 1rem;
        color: var(--color-dark-blue);
        font-weight: 300;
        border-bottom: 1px solid;
        height: 1.3rem;
        margin-top: 3rem;
    }     
    .inicio__link-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }  
    .inicio__circle-link {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        margin: 0.5rem 0.6rem;
        border: 1px solid #f1f1f12e;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 3px 3px rgb(0 0 0 / 18%), 0 1px 2px rgb(0 0 0 / 30%);
        transition: 1s ease-out;
      }
      .inicio__circle-link:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
      }
      .inicio__link-title{
        color: var(--color-dark-blue);
        font-size: .73rem;
      }








