.inicio{
    background: url(../img/background1-pexels-no-name-66997.jpg) no-repeat center /  cover;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.inicio__container-main{
    width: 60vw;
    margin-left: 1rem;
}
    .inicio__title{
        margin-top: 5rem;
        color: var(--color-dark-blue);
        white-space: nowrap;
        animation: slide 3s;
        font-size: 5rem;   
    }@keyframes slide {
        from{
            opacity: 30%;
            margin-top: -50%;
        }
    
    }
    .inicio__subtitle{
        animation: appear 3.7s;
        white-space: nowrap;
        color: var(--color-dark-blue);
        height: 13%;
        font-size: 3rem;
        font-weight: 500;
    }@keyframes appear{
        0%{
            opacity: 0;
        }
        70%{
            opacity: 0;
        }
        100%{
            opacity: 100%;
        }
    }
    .inicio__container-text{
        width: 60vw; 
        animation: appear 4.3s;
    }
       
    .inicio__text{
        margin-top: 1rem;
        font-size: 1.2rem;
        font-weight: 300;
        color: var(--color-white-font);
    }

    


.inicio__container-photo{
    width: 40vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    animation: slide-bot 8s;
}@keyframes slide-bot{
    0%{
        margin-top: 100%;
        opacity: 0;
    }
    60%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

    .inicio__photo{
        width: 40%;
        border-radius: 50%;
        box-shadow: #0000009e 6px 7px 17px -2px;
        animation: move-top 1.3s infinite alternate;
    }@keyframes move-top{
        from{
            transform: translateY(7px);
        }
    }.inicio__container-more-info{
        display: flex;
        margin-top: 1rem;
        } 
    .inicio__more-info{
        font-size: 1rem;
        color: var(--color-dark-blue);
        font-weight: 300;
        border-bottom: 1px solid;
        height: 1.3rem;
        margin-top: 3rem;
    }     
    .inicio__link-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }  
    .inicio__circle-link {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        margin: 0.5rem 0.6rem;
        border: 1px solid #f1f1f12e;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 3px 3px rgb(0 0 0 / 18%), 0 1px 2px rgb(0 0 0 / 30%);
        transition: 1s ease-out;
      }
      .inicio__circle-link:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
      }
      .inicio__link-title{
        color: var(--color-dark-blue);
        font-size: .73rem;
      }








