
header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(rgb(18 18 18) -40%, transparent );
    width: 100vw;
    height: 7vh;
    position: fixed;
    z-index: 3;
    
}
nav{
    display: flex;
    align-items: flex-start;
    margin-right: 1rem;
    height: inherit;
}

.nav__link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-size: 1.02rem;
    font-weight: 300;
    color: var(--color-white-font);
    text-decoration: none;
    transition: all 0.4s ease 0s;
    padding: 0 0.7rem;
}

.nav__link:hover{
    background: #00000026;
    box-shadow: 0px 2px 20px -6px #000000;
}
