.proyectos{
    background:url(../img/wave-proyectos.svg) rgb(186 177 157) no-repeat;
    background-position: bottom;
    background-size: 146rem;
    flex-direction: column;
    align-items: center;
    border-top: 10px solid #f1f1f1;
}

.proyectos__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyectos__frame{
    display: flex;
    width: 36rem;
    height: 13rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
}
    .frame-img{
        width: 100%;
        position: relative;
        top: 149%;
    }

.proyectos__card-img{
    width: 100%;
    border-radius: 12px;
}

.proyectos__card{
    width: 93%;
    margin: 1.5rem 0 5rem;
    transition: all 0.6s;
}
    /* .proyectos__card:hover{
        transform: 10px;
    } */

.proyectos__card-text-container{
    width: 100%;
    height: 66%;
    position: relative;
    top: -66%;
    background: linear-gradient(1deg, #121212, transparent);
    opacity: 0; 
    transition: all .5s;
}
    .proyectos__card-text-container:hover{
        opacity: 100%;
    }

.proyectos__card-text{
    position: relative;
    top: 44%;
    margin: 0 1rem;
}

.proyectos__card-title{
    color: var(--color-white-font);
    font-size: 1.5rem;
    font-weight: 300;
}

.proyectos__card-languages{
    display: flex;
    margin: 0.5rem 0;
}
    .proyectos__card-languages li{
        margin-right: 0.4rem;
        background:rgb(166 193 199);
        color: black;
        display: flex;
        padding: 0.1rem 0.6rem;
        font-size: .9rem;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        border-radius: 30px;
    }

.proyectos__card-description{
    color: var(--color-white-font);
    font-size: 1.1rem;
    font-weight: 300;
    border-bottom: 1px solid white;
}
.proyectos__buttons{
    margin-top: 0.7rem;

}
    .proyectos__btn{
        color: var(--color-white-font);
        font-size: .9rem;
        font-weight: 100;
        border: 1px solid;
        border-radius: 0 9px;
        background: transparent;
        padding: 0.4rem 1rem;
        margin-right: 0.4rem;
    }
    .proyectos__btn:hover{
        cursor: pointer;
        background: rgb(20, 20, 20);
        color: var(--color-white-font);
    }